
/* Global Styles */

body {
  margin 0;
  font-size: 21px;
  color: #F4D6CC;
  background-color: #171A21;
}

/* Typography */

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

/* Layout */

header {
  margin: 50px
  background-color: #8C1C13;
}
