
/* Global Styles */

body {
  margin 0;
  font-size: 21px;
  color: #fdfcdc;
  background-color: #829191;
}

/* Typography */

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

/* Layout */

header {
  background-color: #d36135;
}
