
/* Global Styles */

body {
  margin 0;
  font-size: 16px;
  background-color: #171A21;
}

/* Typography */

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

/* Layout */

header {
  padding: 5px;
  width: auto;
  background-color: #8C1C13;
}
